{% extends "base.html" %}

{% block title %}{{ title }} - {{ site.title }}{% endblock %}

{% block content %}
<div class="tags-page">
    <h1>Tags</h1>
    <p class="tags-description">Browse all tags used in this blog. Click on a tag to see related posts.</p>
    
    <div class="tag-cloud">
        {% for tag in tags %}
        <div class="tag-item">
            <a href="{{ site.base_path | default(value="") }}/tags/{{ tag.name | url_safe_tag }}" class="tag-link">
                <span class="tag-name">{{ tag.name }}</span>
                <span class="tag-count">({{ tag.count }})</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}